<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ORS_API_KEY</key>
	<string>$(ORS_API_KEY)</string>
	<key>SERVER_BASE_URL</key>
	<string>$(SERVER_BASE_URL)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>GoWays saves your ride summary card to your photo library when you share it.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
